@media screen and (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .nav-links li {
      margin-bottom: 10px;
    }
}

header {
    background: linear-gradient(to bottom, #000000, #000000);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-height: 50px;
}

.logo {
    font-size: 40px;
    display: inline-block;
    position: relative;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.logo:hover {
    background: linear-gradient(to bottom, #a4e79b, #51ff00, #04d148, #03b40c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home h2 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 170px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #13a106;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: start;
    text-shadow: rgb(99, 74, 74);
    margin-bottom: 10px;
}

#changing-text {
    transition: color 0.9s ease-in-out;
}

.home p {
    font-size: 30px;
    text-align: start;
    color: #084200;
    padding-bottom: 10px;
    font-weight: bolder;
    justify-self: left;
    width: 70%;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #00ff00;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #000000);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    max-height: max-content;
}

.background-music-symbol {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(BGIF.gif);
    background-repeat: no-repeat;
    background-size: 100px;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
    animation: animateMusicSymbol 20s linear infinite;
}

.about {
    background: linear-gradient(to bottom, #1eff00, #000000);
}

.about-content img {
    width: 400px;
}

.about h2 {
    color: green;
}

section {
    text-align: center;
    padding: 50px;
}

.music {
    background: linear-gradient(to bottom, #000000, #000000, #00ff00, #00ff00);
}

.music p {
    margin-left: 350px;
    justify-content: center;
    font-family: "Tahoma", "Geneva", "sans-serif";
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
    color: #FFFFFF;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.artist-info {
    width: 200px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
}

.artist-info:hover {
    transform: scale(1.1);
}

.artist-image {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.9;
}

.artist-image img {
    max-width: 100%;
    max-height: 100%;
}

.artist-info h3 {
    margin-top: 5px;
    padding-left: 190px;
}

.artist-info:hover .artist-image {
    filter: grayscale(0%);
}

.button-container {
    text-align: start;
    padding-left: 20px;
}

#choose-artist-button {
    padding: 10px 20px;
    border-radius: 12px;
    background-color: rgb(41, 100, 41);
    color: white;
    justify-content: left;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: transform 5s ease-in-out;
    backdrop-filter: blur(5px);
}

#choose-artist-button:hover {
    background-color: rgba(78, 78, 78, 0.8);
    color: rgb(9, 255, 0);
    transform: scale(1);
}

.artist-info a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #afa1a1;
    transition: color 0.3s ease-in-out;
}

.artist-info a:hover {
    color: #00ff00;
}

.artist-container img {
    max-width: 100%;
    height: auto;
    padding: 50%;
}

.artist-container h3 {
    padding-bottom: 500px;
}

footer {
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.page-info a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.page-info a:hover {
    color: #007BFF;
}

.socials-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.socials-links a:hover {
    color: #007BFF;
}

.useful-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.useful-links a:hover {
    color: #007BFF;
}

.footer-nav li {
    margin-right: 20px;
}

.footer-nav li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.footer-nav li a:hover {
    color: #00ff00;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

.modal h2 {
    font-size: 30px;
    color: greenyellow;
    padding-bottom: 10px;
}

#login-form {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    width: 320px;
    padding: 30px;
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button[type="submit"],
button.close-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    margin-top: 10px;
}

.close-button:hover {
    background-color: #555;
}

.forgot-password {
    color: red;
}

@keyframes animateMusicSymbol {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
